@import "back.css";

.text{
    color:white;
    font-family:sans-serif;
}


form {
  display: inline-block;
  text-align: center;
  margin-top: 100px;
  width :700px;
  font-size: 15px;
  height: 380px;
  
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  text-align:center;
}

input[type=text],input[type=password]{
	width: 50%;
  	padding: 15px;
  	margin: 5px 0 22px 0;
  	display: inline-block;
	border: none;
  	background: #f1f1f1
}
